body {
  font-family: 'Ubuntu';
  overflow-x: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-orange-400;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-orange-300;
}